{% extends "./layout.twig" %}

{% block head %}

<title>Analytics</title>
<script src="/js/analytics.js"></script>

{% endblock %}

{% block body %}
  <div class="top-bar">

  </div>
<main>

  {% for data in datas %}
    <div class="accordion" id="{{ data._id }}">
      <span>Query: <i>"{{ data.request.result.query }}"</i></span>
      <span>Intent: {{ data.result.response.intent }}</span>
      <span>Confidence: {{ data.result.confidence }}</span>
      <span>Date: {{ data.date|prettydate }}</span>
      {% if not data.archived %}
        <span><i class="fas fa-trash" archive='{{ data._id }}'></i></span>
      {% else %}
        <span><i class="fas fa-trash-restore" recover='{{ data._id }}'></i></span>
      {% endif %}
    </div>
    <div class="panel" style="display: none">
      <div class="accordion">
        Request
      </div>
      <div class="panel request" style="display: none">
        <div>
          <span>Types : {{ data.request.acceptedtypes|join(', ') }}</span>
          <span>Lang : {{ data.request.lang }}</span>
          <span>Response : {{ data.request.result.response ?? 'none' }}</span>
        </div>
        <div>
          <span>Intents:</span><br>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Confidence</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data.request.result.intents %}
                <tr>
                  <td>{{ i.name }}</td>
                  <td>{{ i.confidence }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div>
          <span>Entities:</span><br>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data.request.result.entities %}
                <tr>
                  <td>{{ i.name }}</td>
                  <td>{{ i.value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="accordion">
        Intent response
      </div>
      <div class="panel" style="display: none">
      <pre>{{ data.parsedResponse.responses|prettyjson }}</pre>
      </div>
      <div class="accordion">
        Oter intents
      </div>
      <div class="panel" style="display: none">
        <div>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Confidence</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data.results %}
                <tr>
                  <td>{{ i.response.intent }}</td>
                  <td>{{ i.confidence }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="accordion">
        Before Contexts
      </div>
      <div class="panel" style="display: none">
        <pre>{{ data.request.result.contexts|prettyjson }}</pre>
      </div>
      <div class="accordion">
        After Contexts
      </div>
      <div class="panel" style="display: none">
        <pre>{{ data.result.contexts|prettyjson }}</pre>
      </div>

    </div>
  {% endfor %}

</main>

<div class="bottom-bar">
  <span>
    <form method="get">
      Page:
      <input type="text" name="page" value="{{ curpage }}"/>
      {% if archived %}
        <input type="hidden" name="archived" value="true"/>
      {% endif %}
    </form>
  </span>
  <span class="pages">
    {% if curpage > 1 %}
      <a href="/webapp/analytics?page={{ curpage-1 }}{% if archived %}&archived=true{% endif %}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    {% if nbpage > 0 %}
      {% for i in 1..nbpage %}
        <a href="/webapp/analytics?page={{ i }}{% if archived %}&archived=true{% endif %}" {% if i == curpage %}class="enable"{% endif %}>{{ i }}</a>
      {% endfor %}
    {% endif %}
    {% if curpage < nbpage %}
      <a href="/webapp/analytics?page={{ curpage+1 }}{% if archived %}&archived=true{% endif %}"><i class="fas fa-angle-right"></i></a>
    {% endif %}
  </span>
  <span>
    <strong>Show archived elements</strong>
    <label class="switch">
      <input type="checkbox" name="archived" id="toggle-archive" {% if archived %}checked{% endif %}>
      <span class="slider round"></span>
    </label>
  </span>
</div>
{% endblock %}
