{% extends "./layout.twig" %}

{% block head %}
  <link rel='stylesheet' href='/CSS/file.css' />
  <!-- YAML -->
  <script src="/JS/yaml.min.js"></script>
  <!-- Code Mirror -->
  <link rel="stylesheet" href="/lib/codemirror.css">
  <link rel="stylesheet" href="/addon/lint/lint.css">
  <link rel="stylesheet" href="/theme/yeti.css">
  <script src="/lib/codemirror.js"></script>
  <script src="/JS/js-yaml/js-yaml.js"></script>
  <script src="/mode/yaml/yaml.js"></script>
  <script src="/addon/lint/lint.js"></script>
  <script src="/addon/lint/yaml-lint.js"></script>
  <script src="/JS/search.js"></script>
  <script>
    var file = `{{ file }}`;
    var source;
    var filename = "{{ type }}.{{ filename }}";
    var cat = "{{ cat }}";
    var errsyntax = false;
    var params = {{ paramsstr }};

    window.addEventListener('load', function () {
      {% if cat == 'training' %}
        getEntities();
      {% endif %}
    });
  </script>
  <script src="/JS/file.js"></script>
{% endblock %}

{% block body %}
  <nav>
    <div class="search" id="search" search='complex' s-con='filecontainer'>
      <input type="text" placeholder="Search..."/>
    </div>
    <div class="container" id="filecontainer">

    </div>
    <div class="but">
      <a onclick="save()" id="savebut">
        Save
        <img src='/PIC/load.gif' />
      </a>
    </div>
  </nav>
  <main>
    <textarea id="editor"></textarea>
    <span class="info-but" onclick="openinfos()">
      <i class="fas fa-info"></i>
    </span>
    <span class="back-but">
      <a href="/webapp/{{ type }}" class="fas fa-chevron-left"></a>
    </span>
  </main>
  <div class="console" id="console"></div>
  <div class="rightmenu">
    <div class="search" id="search" search="simple" s-con='paramcontainer'>
      <input type="text" placeholder="Search..."/>
    </div>
    <div class="paramcontainer" id="paramcontainer">
      {% for param in params %}
        <strong onclick="addparameter('{{ param }}')" s-val='{{ param }}'>{{ param }}</strong>
      {% endfor %}
    </div>
  </div>
  <div class="infos" id="infos" onclick="closeinfos()" style='display: none'>
    <span>
      <div onclick="event.stopPropagation()">
        <pre>intent: "default.greeting"
type: "default"
responses:
  - desc: "oups"
  - text:
      fr-tu:
        - "Ca va super toto"
        - "Ca va bien et toto"
        - "Cool"
      fr-vous:
        - "je vais bien"
        - "je me porte bien"
  - media: "hello"
  - link: "hi"
  - btn:
      nextaction: "titi"
      fr-tu:
        - text: "toto"
          value: 2
        - text: "greg"
          value: 3
      fr-vous:
        - text: "gerr"
          value: 2
        - text: "gregre"
          value: 3
  - dropdown:
      nextaction: "tata"
      fr-tu:
        - text: "gre"
          value: 5
        - text: "ge"
          value: 6
        - text: "htehet"
          value: 7
      fr-vous:
        - text: "ethte"
          value: 5
        - text: "ethte"
          value: 6
        - text: "hehte"
          value: 7
  - text:
      fr-tu:
        - "Ca va super"
        - "Ca va bien et toi"
      fr-vous:
        - "je vais bien"
        - "je me porte bien"
        </pre>
      </div>
    </span>
  </div>
{% endblock %}
