{% extends "./layout.twig" %}

{% block head %}
  <title>Training & Responses</title>
  <script src="/js/home.js"></script>
{% endblock %}

{% block body %}
  <div class="search" id="search" search="simple" s-con="container">
    <input type="text" placeholder="Search..."/>
    <div>
        <strong>Mode</strong>
        <label class="switch">
          <input type="checkbox" id="i-mode">
          <span class="slider round"></span>
        </label>
      </div>
  </div>
  <main id="container">
    <h2>Train : </h2>
    <div>
    {% for file in files.training %}
      {% for f in file.files %}
        <span s-val="{{ file.type }}.{{ f }}" class="mode-default">
          <a href="/webapp/{{ file.type }}/training/{{ f }}">{{ file.type | capitalize }}.{{ f | capitalize }}</a>
          <input type="text" name="name" value="{{ file.type }}-{{ f }}" disabled/>
          <div>
            {#<i class="fas fa-save"></i>
            <i class="fas fa-trash" onclick="deleteElem(event, 'training', '{{ file.type }}', '{{ f }}')"></i>#}
          </div>
        </span>
      {% endfor %}
    {% endfor %}
    </div>

    <h2>Response : </h2>
    <div>
    {% for file in files.response %}
      {% for f in file.files %}
        <span s-val="{{ file.type }}.{{ f.name }}" class="mode-default">
          <a bubble-name="{{ file.type | capitalize }}.{{ f.beauty }}" bubble="{{ f.desc }}" href="/webapp/{{ file.type }}/response/{{ f.name }}">{{ file.type | capitalize }}.{{ f.beauty }}</a>
          <input type="text" name="name" value="{{ f.realname }}"/>
          <input type="text" name="type" value="{{ file.type }}"/>
          <div>
            <i class="fas fa-save" response-modif type='{{ file.type }}' name='{{ f.name }}'></i>
            <i class="fas fa-trash" response-delete type='{{ file.type }}' name='{{ f.name }}'></i>
          </div>
        </span>
      {% endfor %}
    {% endfor %}
    </div>
  </main>
{% endblock %}
